# Outputs
src/**/*.js
!src/add-auth/react/src/App.js
!src/add-auth/react/src/Home.js
!src/add-auth/vue/src/router.js
src/**/*.js.map
src/**/*.d.ts
!src/add-auth/react-ts/src/okta.d.ts
coverage/
dist/
apps/
*.tgz

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
